<p>Start editing to see some magic happen :)</p>

<p>Nombre: {{ inputText.value }}</p>

<input type="text" #inputText />

<input
  type="button"
  value="Send"
  style="display: block;"
  (click)="pasarValor(inputText.value)"
/>

<!--PROPERTI BINDING-->
Registrado : <input type="checkbox" [checked]="userRegistrado" />

<br />
<br />

<p>{{ textRegistro }}</p>

Registrado:
<input
  #inputRadio
  type="radio"
  name="radioUser"
  style="display:inline;"
  value="si"
  (click)="setUserRegistrado($event)"

  
/>

<br />

No registrado
<input
  type="radio"
  name="radioUser"
  style="display:inline;"
  value="no"
  (click)="setUserRegistrado($event)"
/>
